
p{
    color: red;
}

.container{
    width: 300px;
    height: 400px;
    background: #000;
}

p{
    color: red;
}

.container3{
    width: 300px;
    height: 400px;
    background: #000;
}

p{
    color: red;
}

.container2{
    width: 300px;
    height: 400px;
    background: #000;
}